<!-- homepage -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

<body>
  <%- include("partials/_header")%>

    <section class="main-section">
      <h1 class="main-text">Decision Maker</h1>
    </section>

    <section class="product-description">
      <div class="img-container">
          <img class="img-fluid img-responsive img-poll" src="/images/step_1.png" width="400" height="100" style="margin-right: 5px;">
      </div>
      <div class="text-container">
          <h3 class="description-title">Step 1. Create User</h3>
          <p class="description-step">You'll first need to create a user. But don't worry! All you need is a unique email to get started!</p>
      </div>
    </section>

    <section class="product-description">
      <div class="img-container">
        <img class="img-fluid img-responsive img-poll" src="/images/step_2.png" width="400" height="200">
    </div>
      <div class="text-container">
          <h3 class="description-title">Step 2. Create Poll</h3>
          <p class="description-step">Create your poll. Input a poll title and some options for your voters to pick from.</p>
      </div>
    </section>

    <section class="product-description">
      <div class="img-container">
          <img class="img-fluid img-responsive img-poll" src="/images/step_3.png" width="400" height="200">
      </div>
      <div class="text-container">
          <h3 class="description-title">Step 3. Share!</h3>
          <p class="description-step">After you finish making your poll, we will provide you with a link to share with voters so that they can access your poll.</p>
      </div>
    </section>

    <section class="product-description">
      <div class="img-container">
          <img class="img-fluid img-responsive img-poll" src="/images/step_4.png" width="400" height="200">
      </div>
      <div class="text-container">
          <h3 class="description-title">Step 4. Results</h3>
          <p class="description-step">Once the poll has finished, let us do the rest. The data provided by you and your voters will be analyzed to produce a single answer to your query.</p>
      </div>
    </section>

    <div class="get-started">
      <a href="/polls/new" class="btn btn-success start">Get Started</a>
    </div>


  <%- include("partials/_footer") %>
</body>

</html>