<!DOCTYPE html>
<html>

<head>
  <title>New Poll</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new_poll.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/new-poll.js"></script>
</head>

<body>
  <section class="poll-form" id="poll-form">
      <form action="/polls" method="POST">
            <div class="form-group emailbox">
              <!-- Email field-->
              <span class="input-group-text" id="inputGroup-sizing-default"><strong>Email</strong></span>
              <input type="email" id="email" name="email" class="email" placeholder="Enter your email address">
              <!-- Question field-->
              <span class="input-group-text" id="inputGroup-sizing-default"><strong>Question</strong></span>
              <input type="text" class="form-control question" placeholder="Please Ask Any Question" aria-label="" aria-describedby="basic-addon1">
              <!-- Option field 1-->
              <span class="input-group-text" id="inputGroup-sizing-default"><strong>Option 1</strong></span>
              <input type="text" class="form-control option-input" placeholder="Option" aria-label="" aria-describedby="basic-addon1">
              <!-- Description field 1-->
              <span class="input-group-text" id="inputGroup-sizing-default"><strong>Description 1</strong></span>
              <input type="text" class="form-control option-input" placeholder="Description" aria-label="" aria-describedby="basic-addon1">
              <!-- Delete button-->
              <button class="btn btn-outline-secondary delete-option" type="button">Delete</button>
              <!-- Option field 2 --> 
              <span class="input-group-text" id="inputGroup-sizing-default"><strong>Option 2</strong></span>
              <input type="text" class="form-control option-input" placeholder="Answer" aria-label="" aria-describedby="basic-addon1">
              <!-- Description 2-->
              <span class="input-group-text" id="inputGroup-sizing-default"><strong>Description 2</strong></span>
              <input type="text" class="form-control option-input" placeholder="Description" aria-label="" aria-describedby="basic-addon1">
              <!-- Delete button-->
              <button class="btn btn-outline-secondary delete-option" type="button">Delete</button>
              <!-- Submit and add buttons-->
              <div class="buttonContainer">
                    <button class="btn btn-outline-secondary add-option" type="button">Add more options</button>
                    <button type="submit" id="submit" class="btn btn-primary submitbutton" >Submit</button>
              </div>            
            </div>
    </form>
  </section>
</body>
</html>