$baseColor: #353866;
$supportColor: #9EBEDE;
$baseFont: 'Helvetica', sans-serif;
$break-small: 320px;

body {
  margin: 0;
  font-family: $baseFont;
  text-transform: uppercase;
  background: url("/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  
  .poll-form {
    display: flex;
    width: 50vw;
    margin: 5% auto;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;

    .form-group {
      width: 100%;
      margin-top: 20px;

      input {
        width: 100%;
        border: 2px solid $baseColor;
        padding: 10px;
        margin-bottom: 10px;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .delete-option {
        background-color: red;
        color: white;
        &:hover {
          background-color: darken(red, 10%);
        }
      }
      .submitbutton {
        background-color: green;
        color: white;
        margin-top: 20px;
        width: 50%; // Adjust width as needed
        align-self: center; // Center the button in the container
      
        &:hover {
        background-color: darken(green, 10%);
        }
      }
    }
  }
}